################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/HWL/v15
/HWL/.vs
/HWL/HWL.API/bin
/HWL/HWL.API/obj
/HWL/HWL.API/Properties/launchSettings.json
/HWL/HWL.Entity/bin
/HWL/HWL.Entity/obj
/HWL/HWL.H5/bin
/HWL/HWL.H5/obj
/HWL/HWL.H5/Properties/launchSettings.json
/HWL/HWL.Manage/bin
/HWL/HWL.Manage/obj
/HWL/HWL.Manage/Properties/launchSettings.json
/HWL/HWL.Manage.Service/bin
/HWL/HWL.Manage.Service/obj
/HWL/HWL.Redis/bin
/HWL/HWL.Redis/obj
/HWL/HWL.Service/bin
/HWL/HWL.Service/obj
/HWL/HWL.ShareConfig/bin
/HWL/HWL.ShareConfig/obj
/HWL/HWL.ShareConfig/Properties/launchSettings.json
/HWL/HWL.Tools/bin
/HWL/HWL.Tools/obj
/HWL/HWL.H5/wwwroot/app.png
/HWL/HWL.API/Properties/PublishProfiles
/HWL/HWL.H5/Properties/PublishProfiles
/HWL/HWL.Manage/Properties/PublishProfiles
/HWL/HWL.Manage/wwwroot/upload
/HWL/HWL.Resx/bin
/HWL/HWL.Resx/obj
/HWL/HWL.IMClient/bin
/HWL/HWL.IMClient/obj
/HWL/HWL.IMCore/bin
/HWL/HWL.IMCore/obj
/HWL/HWL.IMClientTest/bin
/HWL/HWL.IMClientTest/obj
/HWL/HWL.DBScript/bin
/HWL/HWL.DBScript/obj
/HWL/HWL.DBScript/导入架构日志
/HWL/HWL.DBScript/HWL.DBScript.jfm
/HWL/HWL.DBScript/HWL.DBScript.dbmdl
/HWL/HWL.Resx/wwwroot/upload
/HWL/HWL.Resx/Properties/PublishProfiles
/HWL/HWL.PushStandard/bin
/HWL/HWL.PushStandard/obj
/HWL/HWL.PushTest/bin
/HWL/HWL.PushTest/obj
/HWL/HWL.PushTest/Properties/launchSettings.json
/HWL/HWL.RabbitMQ/bin
/HWL/HWL.RabbitMQ/obj
/HWL/HWL.PushFunction/bin
/HWL/HWL.PushFunction/obj
