@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add";
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/Main/Index/">首页</a></li>
                    <li><a href="/User/List/">用户列表</a></li>
                    <li class="active"><span>创建用户</span></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <form id="form1" action="#" method="post">
                        <input type="hidden" name="Id" id="hidden_id" value="Model.Id" />
                        <input type="hidden" name="Author" value="Model.Author" />
                        <input type="hidden" name="CreateTime" value="Model.CreateTime" />
                        <input type="hidden" name="UpdateTime" value="Model.UpdateTime" />
                        <div style="text-align: left;margin:10px;" class="panel">
                            <div class="panel-heading">
                                <b>创建用户</b>
                            </div>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:150px;">邮箱 / 手机号 <font color="red">*</font>：</th>
                                        <td>
                                            <input type="email" class="form-control" placeholder="邮箱" name="Email" style="width:30%;" maxlength="50" /> /
                                            <input type="number" class="form-control" placeholder="手机号" name="Mobile" style="width:30%;" maxlength="13" />
                                            <span style="color:gray;">只需要填写其中的任意一个</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">密码 <font color="red">*</font>：</th>
                                        <td>
                                            <input type="password" class="form-control" name="Password" style="width:30%;" maxlength="50" />
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">密码确认 <font color="red">*</font>：</th>
                                        <td>
                                            <input type="password" class="form-control" name="PasswordOK" style="width:30%;" maxlength="50" />
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">昵称 ：</th>
                                        <td>
                                            <input type="text" class="form-control" name="Name" style="width:30%;" maxlength="30" />
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">头像 ：</th>
                                        <td>
                                            <input type="file" name="HeadImage" class="form-control" style="width:30%;height: auto;">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="width:150px;">个性签名 ：</th>
                                        <td>
                                            <textarea style="height: 100px; width: 80%;" class="form-control" name="LifeNotes" maxlength="200"></textarea>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p style="margin:10px;">
                            <input type="submit" class="btn btn-submit btn-primary" style="width:100px;margin-left: 0px;margin-right:10px;" value="创 建" />
                            <a class="btn btn-default" style="width:100px;margin-left: 10px;margin-right:10px;" href="/User/List?page=0" id="a_return">返 回</a>

                            <span id="span_info" style="margin-left:10px;"></span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.form.js" type="text/javascript"></script>
<script type="text/javascript">

    var isAction = false;
    $(function () {
        $("form").submit(function () {
            if (isAction) {
                return false;
            }
            isAction = true;

            $("span#span_info").html("<font color='blue'>正在创建中，请稍后...</font>");

            $(this).ajaxSubmit({
                type: "post",
                url: "/User/Add/",
                success: function (data) {
                    if (data.state > 0) {
                        $("span#span_info").html("<font color='blue'>创建成功,跳转中...</font>");
                        Sleep(this, 1500);
                        this.NextStep = function () {
                            document.getElementById("a_return").click();
                        }
                    } else {
                        $("span#span_info").html("<font color='red'>" + data.error + "</font>");
                        isAction = false;
                    }
                }
            });
            return false;
        });
    });

</script>