@{
    ViewData["Title"] = "数据库备份列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/Main/Index">首页</a></li>
        <li><a href="javascript:;">系统设置</a></li>
        <li class="active"><span>数据库备份列表</span></li>
    </ol>

    <div class="main-box clearfix">
        <header class="main-box-header clearfix">
            <h2 style="font-weight:900;" class="pull-left">数据库备份列表</h2>
        </header>
        
    </div>
</div>
